@import "tailwindcss";

.rotate {
  animation: spin 48s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-scroll-left {
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

.robopagetitle {
  @apply text-xl sm:text-2xl md:text-5xl lg:text-6xl;
}
